body {
  margin-left: 20%;
  margin-right: 20%;
}
div {
  margin: 0.5em;
}
body, input, button {
  font-family: "Century Gothic",sans-serif;
  font-size: 20pt;
}
button{
  background-color: tan
}
#logo{
height: 100px;
}