body{
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 250px;
  margin-bottom: 250px;
  background-color: rgb(180, 124, 39);
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 250px;
  padding-bottom: 250px;
  border-style: double;
  border-radius: 200px;



}